
<div class="container">
  <button type="button" mat-button (click)="file.click()">
      <mat-icon matPrefix>cloud_upload</mat-icon></button>
      <span>Choose a file</span>
  <input type="file" hidden (change)="upload(file)" accept=".png,.jpg" #file>
  <div class="container">
    <input type="search" placeholder="search by content" value="" #word>

  <button type="button" mat-button (click)="search(word)">
    <mat-icon matPrefix>search</mat-icon>
  </button>
  </div>
  <app-image-list [query]="searchValue"></app-image-list>
</div>
