.container {
  margin-left: 25px;
}
.dashboard-card {
  max-width: 300px;
  margin-top: 16px
}

.upload:hover {
  width: 250px;
  border-style: dashed;
  border-color: aqua;
}

.example-card {
  max-width: 400px;
}

.search-form {
  width: 90%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
